<header>
	<!-- Navbar start -->
	<nav class="navbar navbar-default" style="margin:0;">
		<div class="container">
			<!-- Brand and mobile toggle -->
			<div class="navbar-header">
				<a href="<%= siteurl%>/">
					<img id="logo" src="<%= siteurl%>/public/images/logo.jpg" alt="Logo">
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Untoggled header information -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<% 
					if(typeof user == 'undefined'){
				%>
				<form action="<%= siteurl%>/search" method="get" class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<i class="fa fa-search"></i>
						<input type="text" id="main_search" class="form-control" placeholder="Search" name="q">
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><span><a href="<%= siteurl%>" id="btn_recent" class="btn btn-danger">Recent</a></span></li>
					<!-- <li><a href="<%= siteurl%>">Categories</a></li> -->
					<!-- <li><a href="<%= siteurl%>">Archives</a></li> -->
					<li><a href="<%= siteurl%>/contact-us">Contact Us</a></li>
					<li><a href="<%= siteurl%>/login">Login</a></li>
				</ul>
				<% }else{ %>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="">Hello <%= user.email%></a></li>
					<li><a href="<%= siteurl%>/logout">Logout</a></li>
				</ul>
				<% } %>
			</div>
		</div>
	</nav>
</header>